body{
    margin: 0;
}
.container{
    padding:10px;
}
.theme-dark{
    background-color: black;
    color: white;
}
.theme-light{
    background-color: white;
    color: black;
}

.header{
    position: sticky;
    top: 0;
    display: flex;
    width: 100%;
    align-items: flex-end;
    justify-content: flex-end;
}